/*txtboxes*/
input[type=text], input[type=password] {
	border: none;
	border-bottom: 2px solid #000;
	border-radius: 4px 4px 0 0;
	padding: 12px 20px 4px;
	margin: 12px 0px;
	width: calc(100% - 40px);
	outline: none;
	background-color: inherit;
	-webkit-transition: border .2s ease-in;
	transition: border .2s ease-in;
}
input[type=text]:focus,
input[type=password]:focus {
	border-bottom: 2px solid #3cbc8d;
}
/*buttons*/
input[type=submit],
input[type=button] {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,0.3);
	background-color: #2faf7f;
	color: #eeeeee;
	border-radius: 4px;
	outline: none;
	padding: 10px 10px;
	width: 100%;
	-webkit-transition: background-color .1s ease-in;
	transition: background-color .1s ease-in;
	cursor:pointer;
}

input[type=submit]:hover,
input[type=button]:hover {
	background-color: #20a070;
}

input[type=submit]:active,
input[type=button]:active {
	border-bottom: none;
	border-top: 2px solid rgba(0,0,0,0.3);
}
