html {
	font-family: helvetica, Tahoma, arial, sans-serif;
}

body {
	top: 0;
	left: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.profile_img_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 100px;
	width: 100px;
}
.profile_img_wrapper img {
	flex-shrink: 0;
	max-width: 100%;
	max-height: 100%;
}
