/*html tags {{{*/
html {
	font-family: helvetica, Tahoma, arial, sans-serif;
}

body {
	top: 0;
	left: 0;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	background:#34495e;
	padding-bottom: 100px;
}

a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	text-decoration: underline;
}

nav {
	position:fixed;
	background-color: white;
	display:block;
	top:0px;
	left:0px;
	width:100%;
	height:100px;
	box-shadow: 0px 7px 20px -5px rgba(0,0,0,0.75);
}

nav + div.content {
	margin-top: 200px;
}

article {
	min-height: 70px;
	margin: 5px auto;
	background:#e1e1e1;
	border-radius: 10px;
	width: 590px;
	box-shadow: inset 0 3px 8px rgba(0, 0, 0, .25);
	padding: 5px;
}
article h1, h2, h3, h4, h5, h6 {
	margin: 5px auto;
}
article hr {
	clear: both;
}
textarea {
	font-family: helvetica, Tahoma, arial, sans-serif;
}
/*}}}*/

.content {
	width: 600px;
	margin: 0 auto;
}

.profile_img_wrapper {/*{{{*/
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	height: 140px;
	width: 140px;
	border-radius: 10px;
}
.profile_img_wrapper img {
	flex-shrink: 0;
	max-width: 100%;
	max-height: 100%;
}
.pic_xsmall {
	height: 70px;
	width: 70px;
}
.pic_small {
	height: 100px;
	width: 100px;
}/*}}}*/

.left {
	float: left;
}
.right {
	float: right;
}
nav .vertical-center {
	margin-top: 1.7em;
	display: flex;
	justify-content: center;
}

nav .right a {
	margin-right: 8px;
}
.multiline-submit {
	width: 590px;
	display: flex;
}
.multiline-submit textarea {
	width: 95%;
	border-radius: 5px;
}

.comment-img {
	float: left;
	margin: 5px;
	margin-top: 0;
}

#txtSearchBox {
	margin-top: 2.5em;
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

#main-profile-pic {
	margin: 0 auto;
	margin-top: -70px;
	padding: 7px;
	border-radius:10px/10px;
	background-color:#3cbc8d;
}
#main-profile-pic img {
	border-radius: inherit;
}
#card {
	padding-top: 90px;
	padding-bottom: 10px;
	display: flex;
	justify-content: center;
	flex-flow: column wrap;
}
#card span, h1 {
	flex-shrink: 0;
	flex-grow: 0;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	color: white;
}
#face_card {
	overflow: visible;
	background:#3cbc8d;
	border-radius: 10px;
	min-height: 150px;
	margin-top: -80px;
}
#profile-controls {
	display: flex;
	justify-content: space-around;
}
#logo {
	margin-left: 60px;
	height:90px;
	width:90px;
	top: 0;
	position: relative;
	border-radius:5px;
	transition:all .2s ease-in;
}
#logo:hover {
	top:5px;
	background-color:#3cbc8d;
}
