#results_container {
	display: flex;
	flex-flow: column nowrap;
}
div.result_entry {
	top: 5px;
	clear: both;
	margin: 5px 0;
}
div.result_entry > a {
	float: left;
}
div.res_text {
	padding: 5px;
	padding-left: 145px;
}
.res_title {
	margin-top: 0px;
}
